<div class="navbar-wagon">
  <a href="/" class="navbar-wagon-brand">
    <h1>YELP</h1>
  </a>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to 'New Restaurant', new_restaurant_path, class:"btn btn-primary"%>
  </div>
</div>